In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import scale as s
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix,classification_report
import numpy as np

In [2]:
data = pd.read_csv("Absenteeism_at_work.csv")

In [3]:
data.drop(['ID'],axis = 1,inplace = True)

In [4]:
data.head()

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
0,26,7,3,1,289,36,13,33,239.554,97,0,1,30,4
1,0,7,3,1,118,13,18,50,239.554,97,1,1,31,0
2,23,7,4,1,179,51,18,38,239.554,97,0,1,31,2
3,7,7,5,1,279,5,14,39,239.554,97,0,1,24,4
4,23,7,5,1,289,36,13,33,239.554,97,0,1,30,2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason for absence               740 non-null    int64
 1   Month of absence                 740 non-null    int64
 2   Day of the week                  740 non-null    int64
 3   Seasons                          740 non-null    int64
 4   Transportation expense           740 non-null    int64
 5   Distance from Residence to Work  740 non-null    int64
 6   Service time                     740 non-null    int64
 7   Age                              740 non-null    int64
 8   Work load Average/day            740 non-null    float64
 9   Hit target                       740 non-null    int64
 10  Disciplinary failure             740 non-null    int64
 11  Education                        740 non-null    int64
 12  Body mass index                  740 non-null    int64
 13  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 81.1 KB

In [6]:
data.describe()

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,94.587838,0.054054,1.291892,26.677027,6.924324
std,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,3.779313,0.226277,0.673238,4.285452,13.330998
min,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,81.000000,0.000000,1.000000,19.000000,0.000000
25%,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,93.000000,0.000000,1.000000,24.000000,2.000000
50%,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,95.000000,0.000000,1.000000,25.000000,3.000000
75%,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,97.000000,0.000000,1.000000,31.000000,8.000000
max,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,100.000000,1.000000,4.000000,38.000000,120.000000

In [7]:
X = data.drop(['Absenteeism time in hours'],axis=1)
Y = data['Absenteeism time in hours']
X = s(X)
Y = s(Y)

# Regression

In [8]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X,Y,test_size = 0.2)

In [9]:
lr = LinearRegression()

In [10]:
lr.fit(Xtrain,Ytrain)

LinearRegression()

In [11]:
ypreds = lr.predict(Xtest)
print(round(mean_squared_error(Ytest,ypreds),2))

0.9

In [15]:
rfr = RandomForestRegressor(n_estimators = 100,max_depth = 3)
rfr.fit(Xtrain,Ytrain)
print(round(mean_squared_error(Ytest,rfr.predict(Xtest)),2))

0.94

# Classification

In [62]:
def plot_confusion_matrix(confusion_matrix, classes):
    plt.figure()
    plt.imshow(confusion_matrix, interpolation='nearest',cmap=plt.cm.Blues)
    plt.title('confusion matrix')
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=0)
    plt.yticks(tick_marks, classes)
    thresh = confusion_matrix.max() / 2.
    for i, j in itertools.product(range(confusion_matrix.shape[0]), range(confusion_matrix.shape[1])):
        plt.text(j, i, confusion_matrix[i, j],
                 horizontalalignment="center",
                 color="white" if confusion_matrix[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.savefig('Plots/confusion_matrix.png', dpi=200, format='png', bbox_inches='tight')

    plt.show()
    print(confusion_matrix[1,1]/(confusion_matrix[1,1]+confusion_matrix[0,1]))
    print(confusion_matrix[1,1]/(confusion_matrix[1,1]+confusion_matrix[1,0]))
    print((confusion_matrix[0,0]+confusion_matrix[1,1])/(confusion_matrix[0,0]+confusion_matrix[0,1]+confusion_matrix[1,1]+confusion_matrix[1,0]))
    print('*********************************************************************************')

In [53]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [54]:
data['Acceptable Absentee'] = data['Absenteeism time in hours']<15

In [55]:
data['Acceptable Absentee'].value_counts()

True     677
False     63
Name: Acceptable Absentee, dtype: int64

In [56]:
classification_y = data['Acceptable Absentee']
classif_x_train,classif_x_test,classif_y_train,classif_y_test = train_test_split(X,classification_y,test_size = 0.2)

In [57]:
svcmodel = SVC(kernel = 'sigmoid')
svcmodel.fit(classif_x_train,classif_y_train)

SVC(kernel='sigmoid')

In [58]:
print("Acuracy of SVM model : {}%".format(round(accuracy_score(classif_y_test,svcmodel.predict(classif_x_test))*100,2)))

Acuracy of SVM model : 87.84%

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
logreg = LogisticRegression()
logreg.fit(classif_x_train,classif_y_train)
print("Acuracy of SVM model : {}%".format(round(accuracy_score(classif_y_test,logreg.predict(classif_x_test))*100,2)))

Acuracy of SVM model : 87.84%

In [64]:
conf = confusion_matrix(classif_y_test,svcmodel.predict(classif_x_test))

In [65]:
plot_confusion_matrix(conf,[0,1])

NameError: name 'plt' is not defined